<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.swms.business.mapper.ProblemHandleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fs.swms.business.entity.ProblemHandle">
        <id column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="OPERATOR" property="operator" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="APPROVAL_SHEET_ID" property="approvalSheetId" />
        <result column="DEPT_NO" property="deptNo" />
        <result column="EXECUTOR" property="executor" />
        <result column="PROBLEM_ID" property="problemId" />
        <result column="PROCESS_SCHEME" property="processScheme" />
        <result column="FILENAMES" property="filenames" />
        <result column="CHILD_SETP" property="childSetp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREATE_TIME,
        CREATOR,
        UPDATE_TIME,
        OPERATOR,
        DEL_FLAG,
        ID, APPROVAL_SHEET_ID, DEPT_NO, EXECUTOR, PROBLEM_ID, PROCESS_SCHEME, FILENAMES, CHILD_SETP
    </sql>
    <select id="selectProblemHandleForManagementList" resultType="com.fs.swms.business.dto.ProblemHandleInfo" >
        SELECT
        S.ID   AS id,
        S.APPROVAL_SHEET_ID  AS approvalSheetId,
        S.SERVICE_NO AS serviceNo,
        P.CUSTOMER_ID   AS customerId,
        C.CUSTOMER_NAME AS customerName,
        P.FIGURE_NO     AS figureNo,
        P.BOX_NO        AS boxNo,
        S.SERVICE_TYPE AS  serviceType,
        S.SERVICE_LEVEL  AS   serviceLevel,
        S.PROBLEM_ID  AS   problemId,
        PT.TYPE_NAME     AS typeName,
        S.IS_SHANGXIU  AS  isShangxiu,
        A.PROBLEM_DESC AS  problemDesc,
        S.DISPOSAL_MEASURES  AS disposalMeasures,
        U.user_name         AS    executorName,
        PH.UPDATE_TIME AS updateTime,
        PH.OPERATOR      AS operator,
        U1.user_name         AS    operatorName,
        PH.PROBLEM_ID  AS   problemIds,
        PH.CREATE_TIME AS createTime,
        PH.EXECUTOR     AS executor,
        O.organization_name AS organizationName,
        PH.DEPT_NO AS deptNo,
        PH.CHILD_SETP AS  childSetp

        FROM T_MM_PROBLEM_HANDLE PH

        LEFT JOIN T_MM_APPROVAL_SHEET A ON A.ID=PH.APPROVAL_SHEET_ID AND A.DEL_FLAG=0
        LEFT JOIN T_MM_SERVICE_REGISTER S ON PH.APPROVAL_SHEET_ID=S.APPROVAL_SHEET_ID  AND S.DEL_FLAG=0
        LEFT JOIN T_SYS_USER U ON U.ID=PH.EXECUTOR AND U.DEL_FLAG=0
        LEFT JOIN T_SYS_USER U1 ON U1.ID=PH.OPERATOR AND U1.DEL_FLAG=0
        LEFT JOIN T_BD_PRODUCT P ON P.ID=A.PRODUCT_ID  AND P.DEL_FLAG=0
        LEFT JOIN T_BD_CUSTOMER C ON C.ID=P.CUSTOMER_ID AND C.DEL_FLAG=0
        LEFT JOIN T_BD_PROBLEM_TYPE PT ON PT.ID=S.PROBLEM_ID  AND PT.DEL_FLAG=0
        LEFT JOIN T_SYS_ORGANIZATION O ON O.ID=PH.DEPT_NO  AND O.DEL_FLAG=0


        WHERE PH.DEL_FLAG = 0
        <trim prefix="AND (" suffix=")" prefixOverrides="AND">
            <if test="problemHandle.serviceNo != null and problemHandle.serviceNo != ''">
                AND S.SERVICE_NO like concat(concat('%', #{problemHandle.serviceNo}), '%')
            </if>
            <if test="problemHandle.figureNo != null and problemHandle.figureNo != ''">
                AND P.FIGURE_NO like concat(concat('%', #{problemHandle.figureNo}), '%')
            </if>
            <if test="problemHandle.boxNo != null and problemHandle.boxNo != ''">
                AND P.BOX_NO like concat(concat('%', #{problemHandle.boxNo}), '%')
            </if>
            <if test="problemHandle.serviceType != null and problemHandle.serviceType != ''">
                AND S.SERVICE_TYPE  =#{problemHandle.serviceType}
            </if>
            <if test="problemHandle.serviceLevel != null and problemHandle.serviceLevel != ''">
                AND S.SERVICE_LEVEL  =#{problemHandle.serviceLevel}
            </if>
            <if test="problemHandle.problemId != null and problemHandle.problemId != ''">
                AND S.PROBLEM_ID  =#{problemHandle.problemId}
            </if>
            <if test="problemHandle.isShangxiu != null and problemHandle.isShangxiu != ''">
                AND S.IS_SHANGXIU =#{problemHandle.isShangxiu}
            </if>
            <if test="problemHandle.childSetp != null and problemHandle.childSetp != ''">
                AND PH.CHILD_SETP = #{problemHandle.childSetp}
            </if>
            <if test="problemHandle.childSetp1 != null and problemHandle.childSetp1 != ''">
                AND S.CHILD_SETP = #{problemHandle.childSetp1}
            </if>
            <if test="problemHandle.deptNo != null and problemHandle.deptNo != ''">
                AND PH.DEPT_NO = #{problemHandle.deptNo}
            </if>

            <if test="problemHandle.operator != null and problemHandle.operator != ''">
                AND PH.OPERATOR = #{problemHandle.operator}
            </if>
            <if test="problemHandle.problemIds != null and problemHandle.problemIds != ''">
                AND PH.PROBLEM_ID   like concat(concat('%', #{problemHandle.problemIds}), '%')
            </if>
            <if test="problemHandle.updateTimeStart != null and problemHandle.updateTimeEnd != null ">
                AND PH.UPDATE_TIME <![CDATA[>=]]> #{problemHandle.updateTimeStart} AND PH.UPDATE_TIME <![CDATA[<]]> (#{problemHandle.updateTimeEnd}+1)
            </if>
            <if test="problemHandle.executor != null and problemHandle.executor != ''">
                AND PH.EXECUTOR = #{problemHandle.executor}
            </if>
            <if test="problemHandle.createTimeStart != null and problemHandle.createTimeEnd != null ">
                AND PH.CREATE_TIME <![CDATA[>=]]> #{problemHandle.createTimeStart} AND PH.CREATE_TIME <![CDATA[<]]> (#{problemHandle.createTimeEnd}+1)
            </if>

        </trim>
        ORDER BY PH.UPDATE_TIME DESC
    </select>
   <!-- PH.APPROVAL_STATUS  AS  approvalStatus,
    PH.PROCESS_SCHEME AS processScheme,
    S.LEADER_APPROVAL_STATUS   AS  leaderApprovalStatus,

    PH.CHILD_SETP AS  childSetp-->

</mapper>
