<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.swms.business.mapper.ProblemHandleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fs.swms.business.entity.ProblemHandle">
        <id column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="OPERATOR" property="operator" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="SERVICE_RED_ID" property="serviceRedId" />
        <result column="DEPT_NO" property="deptNo" />
        <result column="EXECUTOR" property="executor" />
        <result column="PROBLEM_ID" property="problemId" />
        <result column="PROCESS_SCHEME" property="processScheme" />
        <result column="FILENAMES" property="filenames" />
        <result column="CHILD_SETP" property="childSetp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREATE_TIME,
        CREATOR,
        UPDATE_TIME,
        OPERATOR,
        DEL_FLAG,
        ID, SERVICE_RED_ID, DEPT_NO, EXECUTOR, PROBLEM_ID, PROCESS_SCHEME, FILENAMES, CHILD_SETP
    </sql>
<!--    <select id="selectProblemHandList" resultType="com.fs.swms.business.dto.ProblemHandInfo" >-->
<!--        SELECT-->
<!--        PH.ID   AS id,-->
<!--        S.SERVICE_NO AS serviceNo,-->
<!--        PH.SERVICE_RED_ID     AS serviceRedId,-->
<!--        P.FIGURE_NO     AS figureNo,-->
<!--        P.BOX_NO        AS boxNo,-->
<!--        PH.CHILD_SETP     AS  childSetp,-->
<!--        PT.TYPE_NAME     AS typeName,-->
<!--        P.MANUFACTURE_DATE AS manufactureDate,-->
<!--        P.EXPIRE_DATE   AS expireDate,-->
<!--        P.JOB_NO AS jobNo,-->
<!--        S.REPAIRMAN   AS repairman,-->
<!--        PH.PROCESS_SCHEME      AS  processScheme,-->
<!--        PH.CREATE_TIME        AS     createTime,  &lt;!&ndash; 这里是处理日期，用的是现场问题处理表的创建时间字段 &ndash;&gt;-->
<!--        P.CUSTOMER_ID   AS customerId,-->
<!--        C.CUSTOMER_NAME AS customerName,-->
<!--        A.PROBLEM_DESC AS  problemDesc,   &lt;!&ndash;这里是故障描述，用的是审批单表的问题描述字段&ndash;&gt;-->
<!--        S.DISPOSAL_MEASURES  AS disposalMeasures,  &lt;!&ndash;这里是措施，用的是服务登记表的处理措施字段 &ndash;&gt;-->
<!--        PH.DEPT_NO          AS  deptNo,-->
<!--        PH.EXECUTOR         AS  executor,-->
<!--        PH.PROBLEM_ID              AS  problemId,-->
<!--        PH.FILENAMES           AS  filenames ,-->
<!--        PH.CREATOR  AS     creator,-->
<!--        PH.UPDATE_TIME AS updateTime,-->
<!--        PH.OPERATOR AS    operator,-->
<!--        PH.DEL_FLAG          AS   delFlag-->
<!--        FROM T_MM_PROBLEM_HANDLE PH-->
<!--        LEFT JOIN T_MM_SERVICE_REGISTER S ON S.ID=PH.SERVICE_RED_ID AND S.DEL_FLAG=0-->
<!--        LEFT JOIN T_MM_APPROVAL_SHEET A ON A.ID=S.APPROVAL_SHEET_ID AND A.DEL_FLAG=0-->
<!--        LEFT JOIN T_BD_PROBLEM_TYPE PT ON PT.ID=S.PROBLEM_ID AND PT.DEL_FLAG = 0-->
<!--        LEFT JOIN T_BD_PRODUCT P ON P.ID=A.PRODUCT_ID  AND P.DEL_FLAG=0-->
<!--        LEFT JOIN T_BD_CUSTOMER C ON C.ID=P.CUSTOMER_ID AND C.DEL_FLAG=0-->
<!--        LEFT JOIN T_BD_PROBLEM_TYPE PT ON PT.ID = PH.PROBLEM_ID AND PT.DEL_FLAG = 0-->
<!--        WHERE PH.DEL_FLAG = 0-->
<!--        <trim prefix="AND (" suffix=")" prefixOverrides="AND">-->
<!--            <if test="problemHand.serviceNo != null and problemHand.serviceNo != ''">-->
<!--                AND S.SERVICE_NO like concat(concat('%', #{problemHand.serviceNo}), '%')-->
<!--            </if>-->
<!--            <if test="problemHand.customerName != null and problemHand.customerName != ''">-->
<!--                AND C.CUSTOMER_NAME like concat(concat('%', #{problemHand.customerName}), '%')-->
<!--            </if>-->
<!--            <if test="problemHand.customerName != null and problemHand.customerName != ''">-->
<!--                AND C.CUSTOMER_NAME like concat(concat('%', #{problemHand.customerName}), '%')-->
<!--            </if>-->
<!--            <if test="problemHand.figureNo != null and problemHand.figureNo != ''">-->
<!--                AND P.FIGURE_NO like concat(concat('%', #{problemHand.figureNo}), '%')-->
<!--            </if>-->
<!--            <if test="problemHand.boxNo != null and problemHand.boxNo != ''">-->
<!--                AND P.BOX_NO like concat(concat('%', #{problemHand.boxNo}), '%')-->
<!--            </if>-->
<!--            <if test="problemHand.contractNo != null and problemHand.contractNo != ''">-->
<!--                AND P.CONTRACT_NO like concat(concat('%', #{problemHand.contractNo}), '%')-->
<!--            </if>-->
<!--            <if test="problemHand.jobNo != null and problemHand.jobNo != ''">-->
<!--                AND P.JOB_NO like concat(concat('%', #{problemHand.jobNo}), '%')-->
<!--            </if>-->
<!--            <if test="problemHand.manufactureDateStart != null and problemHand.manufactureDateEnd != null ">-->
<!--                AND P.MANUFACTURE_DATE BETWEEN #{approvalSheet.manufactureDateStart} and #{approvalSheet.manufactureDateEnd}-->
<!--            </if>-->
<!--        </trim>-->
<!--        ORDER BY PH.UPDATE_TIME DESC-->
<!--    </select>-->

</mapper>
