<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.swms.mainData.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fs.swms.mainData.entity.Customer">
        <id column="ID" property="id" />
        <result column="CUSTOMER_NAME" property="customerName" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="OPERATOR" property="operator" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>
    <resultMap id="MyBaseResultMap" type="com.fs.swms.mainData.dto.CustomerWindFarmInfo">
        <id column="ID" property="id" />
        <result column="CUSTOMER_NAME" property="customerName" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="OPERATOR" property="operator" />
        <result column="DEL_FLAG" property="delFlag" />
        <collection property="windFarmInfoList" column="id" ofType="com.fs.swms.mainData.dto.WindFarmInfo" select="selectByCustomerId">
            <result column="ID" property="id" />
            <result column="CUSTOMER_ID" property="customerId" />
            <result column="WINDFARM" property="windfarm" />
            <result column="CREATE_TIME" property="createTime" />
            <result column="CREATOR" property="creator" />
            <result column="UPDATE_TIME" property="updateTime" />
            <result column="OPERATOR" property="operator" />
            <result column="DEL_FLAG" property="delFlag" />
        </collection>
    </resultMap>
    <select id="selectByCustomerId" resultType="com.fs.swms.mainData.dto.WindFarmInfo">
        select * from T_BD_WINDFARM where DEL_FLAG = 0 and CUSTOMER_ID=#{id} order by WINDFARM DESC
    </select>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CUSTOMER_NAME, CREATE_TIME, CREATOR, UPDATE_TIME, OPERATOR, DEL_FLAG
    </sql>
    <select id="selectCustomerPageByCustomerName" resultMap="MyBaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_BD_CUSTOMER
        WHERE DEL_FLAG = 0
        <if test="customerWindFarmInfo.customerName != null and customerWindFarmInfo.customerName != ''">
            AND CUSTOMER_NAME = #{customerWindFarmInfo.customerName}
        </if>
        ORDER BY CUSTOMER_NAME DESC

    </select>
    <select id="selectCustomerListByCustomerName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_BD_CUSTOMER
        WHERE DEL_FLAG = 0
        <if test="customerName!=null and customerName!=''">
            AND CUSTOMER_NAME like #{customerName}
        </if>
        ORDER BY CUSTOMER_NAME DESC

    </select>

</mapper>
